
.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(240,245,255);
}
.register-form{
  max-width: 600px;
  width: 100%;
  border: 1px solid;
  padding: 10px;
  background-color: rgb(255,255,255);
}
.side-panel-container{
  border: 1px solid;
  width: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-image: url('https://kenyontu.github.io/frontend-mentor-multi-step-form/assets/images/bg-sidebar-desktop.svg');
}
.side-panel-container >li{
  list-style: none;
}